[user]
	name = Rachel
	email = lhearachel@proton.me

[init]
	defaultBranch = main

[core]
	editor = vim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    hyperlinks = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
