@theme "catppuccin-macchiatto"

configuration {
    modi: "drun,emoji,calc,filebrowser";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Run ";
    display-emoji: " 󰞅  Emoji";
    display-calc: " 󰪚  Calc";
    display-filebrowser: " 󰙅 Files";
    sidebar-mode: true;
}
