@define-color rosewater #F4DBD6;
@define-color flamingo #F0C6C6;
@define-color pink #F5BDE6;
@define-color mauve #C6A0F6;
@define-color red #ED8796;
@define-color maroon #EE99A0;
@define-color peach #F5A97F;
@define-color yellow #EED49F;
@define-color green #A6DA95;
@define-color teal #8BD5CA;
@define-color sky #91D7E3;
@define-color sapphire #7DC4E4;
@define-color blue #8AADF4;
@define-color lavender #B7BDF8;
@define-color text #CAD3F5;
@define-color subtext_1 #B8C0E0;
@define-color subtext_0 #A5ADCB;
@define-color overlay_2 #939AB7;
@define-color overlay_1 #8087A2;
@define-color overlay_0 #6E738D;
@define-color surface_2 #5B6078;
@define-color surface_1 #494D64;
@define-color surface_0 #363A4F;
@define-color base #24273A;
@define-color mantle #1E2030;
@define-color crust #181926;

* {
    border: none;
    border-radius: 3px;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 14px;
    min-height: 1px;
    padding-top: 0px;
    border-top: 0px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    border-radius: 3px;
    border-top: 1px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;

    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin-bottom: 0px;
    margin-top: 6px;
    margin-left: 12px;
    font-size: 2px;
    border-radius: 10px;
    background: @base;
    transition: none;
}

#workspaces button {
    transition: none;
    color: @text;
    padding-top: 1px;
    padding-bottom: 1px;
    background: transparent;
    font-size: 6px;
    border-radius: 2px;
}

#workspaces button.occupied {
	transition: none;
	color: @text;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: @sky;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: @mauve;
}

#workspaces button.active:hover {
    color: @mauve;
}

#network {
    margin-top: 6px;
    margin-left: 8px;
    margin-bottom: 1px;

    padding-left: 10px;
    padding-right: 18px;
    padding-top: 0px;

    border-radius: 10px;
    border-top: 1px;
    border-bottom: 1px;

    transition: none;
    color: @surface_0;
    background: @mauve;
}

#wireplumber {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	transition: none;
	color: @surface_0;
	background: @sapphire;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	transition: none;
	color: @surface_0;
	background: @sapphire;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	transition: none;
	color: @surface_0;
	background: @green;
}

#battery.warning {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	transition: none;
	color: @surface_0;
	background: @yellow;
}

#battery.critical {
	margin-top: 6px;
	margin-left: 8px;
	margin-bottom: 0px;

	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;

	transition: none;
	color: @surface_0;
	background: @red;
}

#custom-launcher {
	font-size: 10px;

	margin-top: 6px;
	margin-left: 10px;

	padding-left: 10px;
	padding-right: 16px;
	border-radius: 10px;

	transition: none;

    color: @sapphire;
    background: @base;
}

#custom-power {
	font-size: 10px;

	margin-top: 6px;
	margin-left: 8px;
	margin-right: 10px;

	padding-left: 10px;
	padding-right: 16px;
	border-radius: 10px;

	transition: none;
	color: @red;
	background: @base;
}
