@import "themes/catppuccin-mocha.css";

* {
    font-family: monospace;
    font-size: 14px;
    border: none;
}

window#waybar {
    background-color: alpha(@base, 0.8);
    border-bottom: 3px solid alpha(@surface0, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces,
#custom-launcher,
#custom-power,
#clock,
#wireplumber,
#disk,
#memory,
#cpu {
    margin: 0 0.2em 0 0;
}

#workspaces {
}

#custom-launcher {
    padding: 0 0 0 0.5em;
    color: @sapphire;
}

#custom-power {
    padding: 0 0.5em 0 0;
    color: @red;
}

#workspaces button {
    padding: 0 0.5em;
    color: @overlay0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.empty {
    color: @text;
}

#workspaces button.visible {
    color: @green;
}

#workspaces button.active {
    color: @lavender;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @sapphire;
}

#wireplumber {
    color: @sky;
}

#disk {
    color: @green;
}

#memory {
    color: @yellow;
}

#cpu {
    color: @peach;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
