fish_variables

# ndonfris/fish-lsp
completions/fish-lsp.fish

# jorgebucaran/fisher
functions/fisher.fish
completions/fisher.fish

# jethrokuan/z
functions/__z*.fish
conf.d/z.fish

# PatrickF1/fzf.fish
functions/_fzf*.fish
functions/fzf_configure_bindings.fish
conf.d/fzf.fish
completions/fzf_configure_bindings.fish

# jorgebucaran/nvm.fish
functions/_nvm_index_update.fish
functions/_nvm_list.fish
functions/_nvm_version_activate.fish
functions/_nvm_version_deactivate.fish
functions/nvm.fish
conf.d/nvm.fish
completions/nvm.fish

# danhper/fish-ssh-agent
functions/__ssh_agent_is_started.fish
functions/__ssh_agent_start.fish
conf.d/fish-ssh-agent.fish

# mise
completions/mise.fish

# git-extras
completions/git-extras.fish
